* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
}
header div {
  display: flex;
  box-sizing: border-box;
  width: 25vw;
}
header #box1 {
  visibility: hidden;
  padding-top: 4.5rem;
  padding-left: 4.5rem;
}
header #box1 button {
  font-family: "Source Serif 4", serif;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  font-size: 3.474rem;
  height: 4.875rem;
  width: 24.45rem;
  border: none;
  border-radius: 10rem;
  padding: 2rem;
}
header #box1 button img {
  height: 2.85rem;
  width: 2.85rem;
}
header #box2 {
  padding-top: 4.5rem;
  display: flex;
  justify-content: center;
}
header #box2 button {
  font-family: "Source Serif 4", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 4.875rem;
  width: 24.45rem;
  border: none;
  border-radius: 10rem;
}
header #box2 button a {
  color: black;
  text-decoration: none;
}
header #box3 {
  padding-top: 4.5rem;
  display: flex;
  justify-content: center;
}
header #box3 button {
  font-family: "Source Serif 4", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 4.875rem;
  width: 17.1rem;
  border: none;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.25);
}
header #box3 button a {
  color: black;
  text-decoration: none;
}
header #box4 {
  visibility: hidden;
  padding-top: 3.7rem;
  padding-right: 6rem;
  justify-content: right;
}
header #box4 img {
  height: 7.2375rem;
  width: 7.2375rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

footer #changeBg {
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  line-height: 1;
  padding: 0.5rem 1rem;
  position: fixed;
  left: 6rem;
  bottom: 3rem;
  font-family: "Source Serif 4", serif;
  font-size: 2.101rem;
  height: auto;
  width: auto;
  cursor: pointer;
}
footer #changeBg img {
  margin-right: 1rem;
  height: 3.825rem;
  width: 3.825rem;
}
footer #fullScreen {
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  line-height: 1;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 6rem;
  bottom: 3rem;
  font-family: "Source Serif 4", serif;
  font-size: 2.5rem;
  height: auto;
  width: auto;
  cursor: pointer;
}
footer #fullScreen img {
  margin-right: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.stopwatch {
  width: 72rem;
  height: 40.4rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 7rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.time #display {
  box-sizing: border-box;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 5.2rem;
  display: flex;
  justify-content: space-between;
}
.time #display span {
  display: inline-block;
  width: 15.5rem;
  height: 15.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 11.9rem;
}
.time #display span label {
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
}

.controls {
  margin-top: 6.8rem;
  margin-left: 11.3rem;
  margin-right: 11.3rem;
  display: flex;
  justify-content: space-between;
}
.controls button {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000000;
  border: none;
  border-radius: 3.5rem;
  cursor: pointer;
  width: 21.4rem;
  height: 6.8rem;
  font-size: 5.8rem;
  font-family: serif;
}
.controls button :hover {
  background-color: #5b5b5b;
}/*# sourceMappingURL=main.css.map */